<!-- 검색 상자 -->
<input class="form-control" type="text" id="searchBox" [(ngModel)]="searchText">

<div class="sortButton">
<!-- 검색 옵션 -->
<input type="button" id="orderByStar" value="별점순" (click)="orderByStar()">{{star}}
<!-- <input type="hidden" id="starStatus" value="" -->

<input type="button" id="orderByReview" value="리뷰개수순" (click)="orderByReview()">{{review}}

<input type="button" id="orderByView" value="조회순" (click)="orderByView(1)">{{view}}
</div>

<div class="placeList">
    <ul class="placeList_wrap">
      <li class="placeElement" *ngFor="let place of places | filter:searchText">
        <span>{{place.name}}</span>
      </li>
    </ul>
</div>
<!--/{{place.star}}-->
<!-- <app-placeview [searchKeyWord] = "search()"></app-placeview> -->

