* {
    text-align: center;

    margin: 0 auto;
}

.sortButton {
    display: block;
    float: right;
    margin: 0 auto;
}

input[type=button] {
    border: 1px solid black;
    margin: 10px;
    padding : .7em;
    letter-spacing: 1pt;
}

input[type=text] {
    width : 70%;
    height: auto; /* 높이 초기화 */ 
    line-height: normal; /* line-height 초기화 */ 
    padding: .7em .4em; /* 여백 설정 */
    margin: 10px;
}

.placeList {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.placeList .placeList_wrap {
    height: 100%;
    display: block;
    overflow: hidden;
}

.placeList .placeList_wrap .placeElement {
    width: 18%;
    float: left;
    padding: 20px;
    margin: 0 10px 20px 10px;
    display: block;
    line-height: 35px;
    border: 1px solid;
    border-radius: 10px;
}
.placeList .placeList_wrap .placeElement:hover{
    background-color: ghostwhite;
}