<h2>장소 입력하기</h2>
<form insertPlaceForm="ngform" id="insertPlaceForm"  name="insertPlaceForm" enctype="multipart/form-data"
    [formGroup]="insertPlaceForm" (ngSubmit)="onSubmit(insertPlaceForm.value)">

    <label for="placeName">이름 : 
        <input type="text" id="placeName" name="placeName" formControlName="name" #name></label><br>
    <label>위치 : <input type="text"/>
        <!-- <input type="button" (click)="findPostCodePopUp()"/> -->
    </label><br>
    <label>영업시간 : 
        <input type="time" formControlName="openTime" #openTime>
         - <input type="time" formControlName="closeTime" #closeTime></label><br>
    <label>전화번호 : 
        <input type="tel" formControlName="tel" #tel></label><br>
     <label>썸네일 : 
        <input type="file" (change)="uploadFile($event)"  #file></label><br>
    
    <label>특징 : 
        <textarea formControlName="detail" #detail></textarea></label><br>

    <input type="hidden" id="thumbnail" name="thumbnail" formControlName="thumbnail" #thumbnail>
    <input type="submit" value="전송">
</form>