<h2>장소 입력하기</h2>
<form insertPlaceForm="ngform" id="insertPlaceForm"  name="insertPlaceForm"
[formGroup]="insertPlaceForm" (ngSubmit)="onSubmit(insertPlaceForm.value)">
    <label for="placeName">이름 : 
        <input type="text" id="placeName" name="placeName"
        formControlName="placeName" #placeName></label><br>
    <label>위치 : 여기에 위치 찾기 넣기</label><br>
    <label>영업시간 : <input type="time"> - <input type="time"></label><br>
    <label>전화번호 : <input type="tel"></label><br>
    <label>메뉴 사진 : <input type="file"></label><br>
    <label>특징 : <textarea></textarea></label><br>


    <input type="submit" value="전송" (click) = "onSubmit(placeName.value)">
</form>


<!--
id
seq
name
lat
lng
open_time
close_time
tel
menu
detail
view_count


-->