<p>map works!</p>
<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->

  <svg class="subway" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="80 0 925 450">

    <g class="subway__line">
      <polyline points="125,150 925,150 925,300 900,325 100,325 100,300 100,175 125,150"/>
      <polyline points="100,300 100,350 125,375 300,375"/>
      <polyline points="925,150, 925,100 900,75 800,75"/>
      <g class="subway__station" id="까치산">
        <circle cx="300" cy="375"/>
        <text x="313" y="378">까치산</text>
      </g>
      <g class="subway__station" id="신정네거리">
        <circle cx="250" cy="375"/>
        <text x="225" y="360">신정네거리</text>
      </g>
      <g class="subway__station" id="양천구청"> 
        <circle cx="200" cy="375"/>
        <text x="175" y="400">양천구청</text>
      </g>
      <g class="subway__station" id="도림천">
        <circle cx="150" cy="375"/>
        <text x="125" y="360">도림천</text>
      </g>
      <g class="subway__station" id="신도림">
        <circle cx="100" cy="325"/>
        <text x="107" y="313">신도림</text>
      </g>
      <g class="subway__station" id="문래">
        <circle cx="100" cy="275"/>
        <text x="110" y="275">문래</text>
      </g>
      <g class="subway__station" id="영등포구청">
        <circle cx="100" cy="225"/>
        <text x="110" y="225">영등포구청</text>
      </g>
      <g class="subway__station" id="당산">
        <circle cx="100" cy="175"/>
        <text x="115" y="180">당산</text>
      </g>
      <g class="subway__station" id="합정">
        <circle cx="125" cy="150"/>
        <text x="95" y="140">합정</text>
      </g>
      <g class="subway__station" id="홍대입구">
        <circle cx="175" cy="150"/>
        <text x="150" y="170">홍대입구</text>
      </g>
      <g class="subway__station" id="신촌">
        <circle cx="225" cy="150"/>
        <text x="215" y="140">신촌</text>
      </g>


      <g class="subway__station" id="이대">
        <circle cx="275" cy="150"/>
        <text x="265" y="170">이대</text>
      </g>
      <g class="subway__station" id="아현">
        <circle cx="325" cy="150"/>
        <text x="315" y="140">아현</text>
      </g>

      <g class="subway__station" id="충정로">
        <circle cx="375" cy="150"/>
        <text x="360" y="170">충정로</text>
      </g>

      <g class="subway__station" id="시청">
        <circle cx="425" cy="150"/>
        <text x="415" y="140">시청</text>
      </g>
      <g class="subway__station" id="을지로입구">
        <circle cx="475" cy="150"/>
        <text x="450" y="170">을지로입구</text>
      </g>

      <g class="subway__station" id="을지로3가">
        <circle cx="525" cy="150"/>
        <text x="505" y="140">을지로3가</text>
      </g>

      <g class="subway__station" id="을지로4가">
        <circle cx="575" cy="150"/>
        <text x="565" y="170">을지로4가</text>
      </g>
      <g class="subway__station" id="동대문종합운동장">
        <circle cx="625" cy="150"/>
        <text x=585 y="140">동대문종합운동장</text>
      </g>

      <g class="subway__station" id="신당">
        <circle cx="675" cy="150"/>
        <text x="665" y="170">신당</text>
      </g>
      <g class="subway__station" id="상왕십리">
        <circle cx="725" cy="150"/>
        <text x="715" y="140">상왕십리</text>
      </g>

      <g class="subway__station" id="왕십리">
        <circle cx="775" cy="150"/>
        <text x="765" y="170">왕십리</text>
      </g>

      <g class="subway__station" id="한양대">
        <circle cx="825" cy="150"/>
        <text x="815" y="140">한양대</text>
      </g>

      <g class="subway__station" id="뚝섬">
        <circle cx="875" cy="150"/>
        <text x="865" y="170">뚝섬</text>
      </g>

      <g class="subway__station" id="성수">
        <circle cx="925" cy="150"/>
        <text x="935" y="150">성수</text>
      </g>
      <g class="subway__station" id="건대입구">
        <circle cx="925" cy="200"/>
        <text x="935" y="200">건대입구</text>
      </g>

      <g class="subway__station" id="구의">
        <circle cx="925" cy="250"/>
        <text x="935" y="250">구의</text>
      </g>

      <g class="subway__station" id="강변">
        <circle cx="925" cy="300"/>
        <text x="935" y="300">강변</text>
      </g>
      <g class="subway__station" id="잠실나루">
        <circle cx="900" cy="325"/>
        <text x="915" y="335">잠실나루</text>
      </g>
      <g class="subway__station" id="잠실">
        <circle cx="840" cy="325"/>
        <text x="845" y="315">잠실</text>
      </g>

      <g class="subway__station" id="잠실새내">
        <circle cx="800" cy="325"/>
        <text x="780" y="345">잠실새내</text>
      </g>
      <g class="subway__station" id="종합운동장">
        <circle cx="760" cy="325"/>
        <text x="735" y="315">종합운동장</text>
      </g>
      <g class="subway__station" id="삼성">
        <circle cx="720" cy="325"/>
        <text x="710" y="345">삼성</text>
      </g>
      <g class="subway__station" id="선릉">
        <circle cx="680" cy="325"/>
        <text x="670" y="315">선릉</text>
      </g>
      <g class="subway__station" id="역삼">
        <circle cx="640" cy="325"/>
        <text x="630" y="345">역삼</text>
      </g>
      <g class="subway__station" id="강남">
        <circle cx="600" cy="325"/>
        <text x="590" y="315">강남</text>
      </g>
      <g class="subway__station" id="교대">
        <circle cx="560" cy="325"/>
        <text x="550" y="345">교대</text>
      </g>
      <g class="subway__station" id="서초">
        <circle cx="520" cy="325"/>
        <text x="510" y="315">서초</text>
      </g>
      <g class="subway__station" id="방배">
        <circle cx="480" cy="325"/>
        <text x="470" y="345">방배</text>
      </g>
      <g class="subway__station" id="사당">
        <circle cx="440" cy="325"/>
        <text x="430" y="315">사당</text>
      </g>
      <g class="subway__station" id="낙성대">
        <circle cx="400" cy="325"/>
        <text x="385" y="345">낙성대</text>
      </g>
      <g class="subway__station" id="서울대입구">
        <circle cx="360" cy="325"/>
        <text x="335" y="315">서울대입구</text>
      </g>
      <g class="subway__station" id="봉천">
        <circle cx="320" cy="325"/>
        <text x="310" y="345">봉천</text>
      </g>
      <g class="subway__station" id="신림">
        <circle cx="280" cy="325"/>
        <text x="270" y="315">신림</text>
      </g>
      <g class="subway__station" id="신대방">
        <circle cx="240" cy="325"/>
        <text x="220" y="345">신대방</text>
      </g>
      <g class="subway__station" id="구로디지털단지">
        <circle cx="200" cy="325"/>
        <text x="160" y="310">구로디지털단지</text>
      </g>
      <g class="subway__station" id="대림">
        <circle cx="160" cy="325"/>
        <text x="150" y="345">대림</text>
      </g>


      <g class="subway__station" id="용답">
        <circle cx="925" cy="100"/>
        <text x="940" y="100">용답</text>
      </g>
      <g class="subway__station" id="신답">
        <circle cx="900" cy="75"/>
        <text x="900" y="60">신답</text>
      </g>
      <g class="subway__station" id="용두">
        <circle cx="850" cy="75"/>
        <text x="850" y="60">용두</text>
      </g>
      <g class="subway__station" id="신설동">
        <circle cx="800" cy="75"/>
        <text x="800" y="60">신설동</text>
      </g>
    </g>
    </svg>
    
    <div class="nearby_place_wrap">
      <span class="title">역 주변 맛집</span>
      <ul class="list_wrap">
        <li class="list" *ngFor="let place of placesByStar">
          <span [routerLink]="['/placeDetail',place.id]" routerLinkActive="router-link-active" >{{place.name}}</span>
        </li>
      </ul>
    </div>