<html>
<header>
  <div class="logo_wrap">
    <span class="logo_img_wrap"><img class="logo_img" src="../assets/images/logo.png"></span>
    <span class="logo_span">서울마라지도</span>
  </div>
</header>
<hr class="header_split">
<section class="best_place">
  <div class="best_place_wrap">
    <span class="title">BEST</span>
    <ul class="list_wrap">
      <li class="list" *ngFor="let place of placesByStar">
        <span>{{place.name}}</span>
      </li>
    </ul>
  </div>
</section>
<section class="test">
  <div class="select_wrap">
    <ul>
      <li id="map_wrap" class="selected"><span routerLink="map">지도 보기</span></li>
      <li id="place_wrap"><span routerLink="place">리스트 보기</span></li>
    </ul>
  </div>
  <div class="result_wrap">
    <input type="button" id="placeInsertButton" routerLink="insertPlace" value="버튼임">
    <router-outlet></router-outlet>
  </div>

</section>

</html>