@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;
};

#placeInsertButton{
    background: url('../assets/images/plus.png') no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
section{
    width: 80%;
    margin: 0 auto !important;
}
.best_place{
    display: block;
    overflow: hidden;
}
.best_place_wrap{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 20px 0;
}


.best_place_wrap .title{
    display: block;
    float: left;
    margin: 17px 30px;
    font-size: 35px;
    font-family: "Do Hyeon", sans-serif;
    color: deeppink;
}
.best_place_wrap .list_wrap{
    height: 100%;
    display: block;
    overflow: hidden;
}


.best_place_wrap .list_wrap .list {
    float: left;
    padding: 20px;
    margin: 0 10px;
    display: block;
    line-height: 35px;
    border: 1px solid;
    border-radius: 10px;
}
.best_place_wrap .list_wrap .list:hover{
    background-color: ghostwhite;
}


li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.select_wrap{
    display: block;
    width: 100%;
    height: 40px;
}
.select_wrap ul{
    display: block;
    width: 100%;
    height: 100%;
}
.select_wrap li{
    float: left;
    height: 100%;
    width: calc(100%/2);
    text-align: center;
    background-color: mistyrose;
}
.select_wrap li span{
    line-height: 40px;
    overflow: hidden;
}
.select_wrap li.selected{
    background-color: darksalmon !important;
}
.result_wrap{
    border: gray solid 2px;
    border-top: 0px;
    padding: 30px;
}
header{
    display: block;
    width: 100%;
    height: 130px;
}
header div.logo_wrap{
    display: block;
    float: left;

}

header div.logo_wrap .logo_img{
    display: block;
    float: left;
}

header div.logo_wrap .logo_span{
    display: block;
    font-size: 60px;
    line-height: 127px;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    margin-left: 35px;
}
hr.header_split{
    width: 95%;
    margin-bottom: 30px;
}

.nearby_place_wrap {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.nearby_place_wrap .title {
    display: block;
    margin: 17px 30px;
    font-size: 25px;
    font-weight: bold;
}

.nearby_place_wrap .list_wrap {
    height: 100%;
    display: block;
    overflow: hidden;
}

.nearby_place_wrap .list_wrap .list {
    float: left;
    padding: 20px;
    margin: 0 10px;
    display: block;
    line-height: 35px;
    border: 1px solid;
    border-radius: 10px;
}
.nearby_place_wrap .list_wrap .list:hover{
    background-color: ghostwhite;
}