@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;
};

#placeInsertButton{
    background: url('../assets/images/plus.png') no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}